@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Jaro:opsz@6..72&display=swap');

body {
    background-color: hsl(47, 88%, 63%);
    font-size: 16px;
    font-family: 'Figtree';
    text-align: justify;

    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

img {
    width: 100%;
}

main {
    margin: auto;
    background-color: white;

    border: 1px solid black;   
    border-radius: 20px;
    padding: 20px;
    box-shadow: 10px 10px black;

    height: 522px;

    max-width: 384px;
}

.illustration{ 
    
    border-radius: 10px;

    display: block;
    margin: auto;
    width: 100%;
}

h1 {
    font-size: 1.5rem;
    font-weight: 800;
}

.int-link {
    text-decoration: none;
    color: hsl(0, 0%, 7%)
}


.int-link:hover {
    color: hsl(47, 88%, 63%);;
}

.category {
    background-color: hsl(47, 88%, 63%);

    border-radius: 3px;
    padding: 0.5em 1em;
    border-width: 0px;

    font-weight: 800;
    margin: auto;
    margin-bottom: 0.5em;
    margin-top: 1em;
    font-size: 0.8rem;

    transition: transform 0.3s;
}

.category:hover {
    transform: translateY(-5px);
}


.date {
    color: hsl(0, 0%, 7%);
    font-weight: 500;
    margin: auto;
    margin-top: 10px;
}

p {
    color: hsl(0, 0%, 42%);
    font-weight: 500;
    font-size: 1.02rem;
    text-align: left;
}


#autor, #autor-img {
    display: inline;
}

#autor {
    font-weight: 800;

    position: relative;
    bottom: 1rem;
    left: 1rem;
}


#autor-img {
    width: 10%;
}

.attribution {
    display: block;
    text-align: center;
}

.attribution > a{
    text-decoration: none;
}
